#shark{
    left:100px; top:400px;
    position: absolute;
    animation-name: shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes shark {
    0% {left:100px; top:400px;}
    20% {left:300px; top:400px;}
    40% {left:500px; top: 300px;}
    50% { left: 600px; top: 50px;}
    60% { left: 600px; top: 100px;}
    80% { left:500px; top: 200px;}
100% {left:100px; top:400px;transition:scaleX(-1);}
    
}